/*
div{
  border: 2px solid green;
}
*/
/*Figure out the display type later on*/
.navbar {
  overflow: hidden;
  background-color: rgb(113, 176, 248, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}
