/*
div{
  border: 2px solid green;
}
*/
#dropdown_menu{
  width: 100%;
  background-color: rgb(239, 243, 255);
}
.dropdown_button{
  padding: 1px 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  flex-basis: 100px;

}
.dropdown_options{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}