{% extends "template.html" %}

{% block css_link %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">
{% endblock %}
{% block content %}

  <div id = "home">
    <div id = "forecastInfo">
      <div class="container">
        <div class="row">
          <div class="infoFadeToday col-sm" align = "center">
            <b>Today</b>
            <br><br>
            <b class = "temp">{{info.maxTemp[0]}}</b>
          </div>
          <div class="infoFade col-sm" align = "center">
            <b>{{ info.days[1] }}</b>
            <br><br>
            <b class = "temp">{{info.maxTemp[1]}}</b>
          </div>
          <div class="infoFade col-sm" align = "center">
            <b>{{ info.days[2] }}</b>
            <br><br>
            <b class = "temp">{{info.maxTemp[2]}}</b>
          </div>
          <div class="infoFade col-sm" align = "center">
            <b>{{ info.days[3] }}</b>
            <br><br>
            <b class = "temp">{{info.maxTemp[3]}}</b>
          </div>
          <div class="infoFade col-sm" align = "center">
            <b>{{ info.days[4] }}</b>
            <br><br>
            <b class = "temp">{{info.maxTemp[4]}}</b>
          </div>
          <div class="infoFade col-sm" align = "center">
            <b>{{ info.days[5] }}</b>
            <br><br>
            <b class = "temp">{{info.maxTemp[5]}}</b>
          </div>
          <div class="infoFade col-sm" align = "center">
            <b>{{ info.days[6] }}</b>
            <br><br>
            <b class = "temp">{{info.maxTemp[6]}}</b>
          </div>
        </div>
      </div>

      {% for msg in get_flashed_messages() %}
        <p id = "errorMsg" align = "center">{{ msg }}</p>
      {% endfor %}

      <form action = "#" method="post" align = "center">
        <br>
        <p>Country/State name: <input type = "text" name = "countryName"></p>
        <p>City/town name: <input type = "text" name = "cityName"></p>
        <p><input type = "submit" value="submit"></p>
      </form>
    </div> 
  </div>
  

{% endblock %}